<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Настройки подключения к БД -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.url">jdbc:mysql://vladimir7.beget.tech/vladimir7_match?serverTimezone=UTC</property>

        <property name="connection.username">vladimir7_match</property>
        <property name="connection.password">chees_match</property>

        <!-- Автоматическое обновления -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- SQL диалект -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Вывод в консоль SQL-запросов -->
        <property name="show_sql">true</property>
        <mapping class="real_data_base.entity_from_data_base.RegionEntity"/>

    </session-factory>
</hibernate-configuration>