<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="wrapper :: #head"></head>
<body>

    <div class="alert alert-success m-5" role="alert">
        <h4 class="alert-heading">ChessMatсh</h4>
        <p>Добро пожаловать в приложение ChessMatсh!</p>
        <p>Команда ChessMatch приветствует своих пользователей и желает приятной работы!</p>
        <ul class="list-group">
            <li class="list-group-item">1 Регистрация</li>
            <li class="list-group-item">2 Подтверждение участия</li>
            <li class="list-group-item">3 Жеребьевка</li>
            <li class="list-group-item">4 Игра</li>
            <li class="list-group-item">5 Победы</li>
            <li class="list-group-item">6 Отчеты</li>
        </ul>
    </div>

<div th:replace="wrapper :: #libs"></div>
</body>
</html>

