<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="wrapper :: #head">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
 <body>
    <div th:replace="wrapper :: #nav"></div>

    <div th:each="t : ${info}">
        <div class="container">
            <div th:replace="wrapper :: #infoTournament"></div>
        </div>
        <div class="container">
            <div th:replace="wrapper :: #tabs"></div>
        </div>
        <div class="container">
            <a class="btn btn-ms btn-block btn-outline-primary"th:href="@{/tournaments/edit/{id}(id=${t.id})}">Редактировать</a>
            <a class="btn btn-ms btn-block btn-outline-danger"th:href="@{/tournaments/delete/{id}(id=${t.id})}">Удалить</a>
        </div>
    </div>
 </body>
</html>