<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="wrapper :: #head"></head>
<body>
    <div th:replace="wrapper :: #nav"></div>

    <div class="row">
        <div class="col-md-4 container mt-5">
            <form method="post" action="/tournaments/add">

                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" class="form-control" id="name" placeholder="Этап кубка России">
                </div>

                <div class="form-group">
                    <label for="region">Субъект</label>
                    <select class="form-control" id="region">
                        <option th:each="r : ${regions}" th:value="${r.id}" th:text="${r.name}">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="adress">Адрес</label>
                    <input type="text" class="form-control" id="adress" placeholder="ул. Гоголя 42">
                </div>

                <div class="form-row">
                    <div class="container col-6">
                        <div class="form-group">
                            <label for="startDate">Введите дату начала:</label>
                            <input type="date" class="form-control" id="startDate">
                        </div>
                    </div>
                    <div class="container col-6">
                        <div class="form-group">
                            <label for="endDate">Введите дату окончания:</label>
                            <input type="date" class="form-control" id="endDate">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mainArbiter">Главный судья</label>
                    <select class="form-control" id="mainArbiter">
                        <option th:each="t : ${arbiters}" th:value="${t.id}" th:text="${t.human.last} + ' ' + ${t.human.first}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="mainSecretary">Главный секретарь</label>
                    <select class="form-control" id="mainSecretary">
                        <option th:each="t : ${arbiters}" th:value="${t.id}" th:text="${t.human.last} + ' ' + ${t.human.first}"></option>
                    </select>
                </div>

                <div id="listArbiters">
                    <p>Ввод списка судей</p>
                </div>

                <div class="form-group">
                    <label for="countTour">Количество туров</label>
                    <input type="text" class="form-control" id="countTour" placeholder="9">
                </div>

                <div class="form-group">
                    <label for="timeControl">Контроль времени</label>
                    <input type="text" class="form-control" id="timeControl" placeholder="3+2">
                </div>

                <div class="form-group">
                    <label for="system">Система проведения</label>
                    <select class="form-control" id="system">
                        <option th:each="t : ${systemMatchs}" th:value="${t.id}" th:text="${t.name}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="typeCompetition">Тип соревнований</label>
                    <select class="form-control" id="typeCompetition">
                        <option th:each="t : ${typeCompetitions}" th:value="${t.id}" th:text="${t.name}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="coeff">Дополнительные показатели</label>
                    <select class="form-control" id="coeff">
                        <option th:each="t : ${indicators}" th:value="${t.id}" th:text="${t.name}"></option>
                    </select>
                </div>

                <button class="btn btn-primary" onclick="send()">Создать</button>
            </form>
        </div>
    </div>

    <script type="application/javascript">
        function send() {
            var name = document.getElementById("name").value;
            var region = document.getElementById("region").value;
            var adress = document.getElementById("adress").value;
            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;
            var mainArbiter = document.getElementById("mainArbiter").value;
            var mainSecretary = document.getElementById("mainSecretary").value;
            var countTour = document.getElementById("countTour").value;
            var timeControl = document.getElementById("timeControl").value;
            var system = document.getElementById("system").value;
            var typeCompetition = document.getElementById("typeCompetition").value;
            var coeff = document.getElementById("coeff").value;

            // var json = '{' +
            //     '"name" : "' + name + '",' +
            //     '"region" : "' + region + '",' +
            //     '"startDate" : "' + startDate + '",' +
            //     '"endDate" : "' + endDate + '",' +
            //     '"mainArbiter" : "' + mainArbiter + '",' +
            //     '"mainSecretary" : "' + mainSecretary + '",' +
            //     '"countTour" : "' + countTour + '",' +
            //     '"timeControl" : "' + timeControl + '",' +
            //     '"system" : "' + system + '",' +
            //     '"typeCompetition" : "' + typeCompetition + '",' +
            //     '"coeff" : "' + coeff + '"' +
            //     '}';
            var tournamentEntity = {
                name : name,
                region : region,
                adress : adress,
                startDate : startDate,
                endDate : endDate,
                mainArbiter : mainArbiter,
                mainSecretary : mainSecretary,
                countTour : countTour,
                timeControl : timeControl,
                system : system,
                typeCompetition : typeCompetition,
                coeff : coeff
            };
            alert(JSON.stringify(tournamentEntity));
            var result = JSON.stringify(tournamentEntity);
            result.submit();
        }
    </script>

    <div th:replace="wrapper :: #libs"></div>
</body>
</html>

