<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="wrapper :: #head"></head>
<body>
    <div th:replace="wrapper :: #nav"></div>
    <div class="alert alert-primary" role="alert">
        Шахматные турниры
    </div>
    <div class="container">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
        </table>
    </div>
</body>
</html>