<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="wrapper :: #head">
    <style>
        .cross { cursor: pointer; }
    </style>
</head>
<body>
    <div th:replace="wrapper :: #nav"></div>

    <div class="alert alert-primary" role="alert">
        <div class="cursor-pointer"> Шахматные турниры </div> <a href="/tournaments/add" role="button" class="btn btn-info ml-2">Добавить новый турнир</a>
    </div>

    <div class="container">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Город</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Адрес</th>
                </tr>
            </thead>
                <tbody>
                    <div th:each="t : ${tournaments}">
                        <tr>
                            <td th:text="${t.name}" onclick="window.location.href='/tournaments/info'; return false"> </td>
                            <td th:text="${t.city.name}"></td>
                            <td th:text="${t.dateStart}"></td>
                            <td th:text="${t.dateEnd}"></td>
                            <td th:text="${t.adress}"></td>
                        </tr>
                    </div>
                </tbody>
        </table>
    </div>
</body>
</html>